<ion-header>
    <ion-navbar color="secondary">
      <ion-title>
        Charts
      </ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding>
    <ion-card>
      <ion-card-header>
        Line Chart
      </ion-card-header>
      <ion-card-content>
        <canvas #lineCanvas></canvas><br><br>

        <h2 text-center *ngIf="tempAtual">A TEMPERATURA ATUAL É DE:</h2><br>
        <h2 text-center *ngIf="tempAtual"><strong>{{tempAtual}} °C</strong></h2>
      </ion-card-content>
    </ion-card>
  </ion-content>
  
